version: "3.9"

services:
  web-client:
    build:
      context: ../..
      dockerfile: Devops/develop/Dockerfile.app
    container_name: web-client
    env_file:
      - .env.develop
    ports:
      - "3002:3000"
    restart: always
